#!/usr/bin/make -f
export DH_VERBOSE=1

target=arm-none-eabi

MULTILIB_LIST="--with-multilib-list=armv6-m,armv7-m,armv7e-m,armv7-r"

GCC_VERSION=4.9
GCC_PACKAGE=gcc-$(GCC_VERSION)

package=gcc-arm-none-eabi
top_dir=$(shell pwd)

deb_version := $(shell dpkg-parsechangelog | sed -ne "s/^Version: \(.*\)/\1/p")
deb_upstream_version := $(shell echo $(deb_version) | cut -d- -f1)
base_version := $(shell echo $(deb_version) | sed -e 's/\([1-9]\.[0-9]\).*-.*/\1/')
svn_revision := $(shell echo $(deb_version) | grep -oP "svn\K([0-9]+)")
build_dir=$(top_dir)/build

export DEB_BUILD_MAINT_OPTIONS=hardening=-format
buildflags:=$(shell dpkg-buildflags --export=configure) INHIBIT_LIBC_CFLAGS="-DUSE_TM_CLONE_REGISTRY=0"

target_tools=\
	AR_FOR_TARGET=$(target)-ar \
	AS_FOR_TARGET=$(target)-as \
	LD_FOR_TARGET=$(target)-ld \
	NM_FOR_TARGET=$(target)-nm \
	OBJDUMP_FOR_TARGET=$(target)-objdump \
	RANLIB_FOR_TARGET=$(target)-ranlib \
	READELF_FOR_TARGET=$(target)-readelf \
	STRIP_FOR_TARGET=$(target)-strip

configure_flags = \
	--enable-languages=c,c++ \
	--prefix=/usr/lib \
	--infodir=/usr/share/doc/$(package)/info \
	--mandir=/usr/share/man \
	--htmldir=/usr/share/doc/$(package)/html \
	--pdfdir=/usr/share/doc/$(package)/pdf \
	--bindir=/usr/bin \
	--libexecdir=/usr/lib \
	--libdir=/usr/lib \
	--with-system-zlib \
	--enable-multilib \
	--disable-decimal-float \
	--disable-libffi \
	--disable-libgomp \
	--disable-libmudflap \
	--disable-libquadmath \
	--disable-libssp \
	--disable-libstdcxx-pch \
	--disable-libstdc++-v3 \
	--disable-nls \
	--disable-shared \
	--disable-threads \
	--disable-tls \
	--build=$(DEB_BUILD_GNU_TYPE) \
	--host=$(DEB_HOST_GNU_TYPE) \
	--target=$(target) \
	--with-gnu-as \
	--with-gnu-ld \
	--with-headers=no \
	--without-newlib \
	"--with-pkgversion=$(deb_version)" \
	--without-included-gettext \
	$(MULTILIB_LIST) \
	$(buildflags) \
	$(target_tools)

%:
	dh $@ -B$(build_dir) --with autotools-dev --parallel --with autoreconf

override_dh_autoreconf:
	autoreconf2.64 -f

override_dh_auto_configure: $(unpack_stamp)
	dh_auto_configure -B$(build_dir) -- $(configure_flags)

override_dh_auto_install:
	$(MAKE) install -C$(build_dir) DESTDIR=$(top_dir)/debian/tmp

override_dh_auto_test:
	@echo "no testing, that's way too painful"

override_dh_clean:
	rm -rf $(build_dir)
	dh_clean

override_dh_strip:
	dh_strip -X.a

get-orig-source:
	svn co svn://gcc.gnu.org/svn/gcc/branches/ARM/embedded-4_9-branch@$(svn_revision) debian/tmp_source
	echo "Please refer to the documentation of the gcc package" > debian/tmp_source/texi_test.txt
	find debian/tmp_source -name "*.texi" -exec cp debian/tmp_source/texi_test.txt \{\} \;
	tar --exclude=".svn" -C debian/tmp_source -c --xz -f ../gcc-arm-none-eabi_$(deb_upstream_version).orig.tar.xz .
